

/* COLORS 

LIGHT GREEN : #7edf6f
MEDIUM GREEN : #55C57A
DARK GREEN : #28B485
*/

$LightGreen : #7edf6f;
$MediumGreen :#55C57A;
$DarkGreen :#28B485;
$DarkGrey : #393939;
$LightGrey :#ebebeb;

/* For Cards */

$LightOrange: #FFBE47;
$DarkOrange : #FF6700;

$LightBlue : #00A1FF;
$DarkBlue :  #084EDB;

/* Grid Basics */
$grid-Width : 114rem;
$grid-space-vertically: 8rem;
$grid-space-vertically-small: 6rem;
$grid-space-horizontally : 6rem;


/*Default Font */
$defaultFont : 1.6rem;